@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Channels {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;

    &__Item {
        padding: 2*$base 2*$base 2*$base 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media(min-width: $screen-lg-max + 1px) {
            flex-basis: 25%;
        }
        @media(max-width: $screen-lg-max) {
            flex-basis: 33.33%;
        }
        @media(max-width: $screen-xs-max) {
            flex-basis: 50%;
        }
    }
    
    &__Link {
        color: $color-black;
        text-decoration: none;
        transition: $transition-duration;

        &Icon {
            padding-right: $base;
        }

        &:hover {
            color: $color-red;
        }
    }
}