@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.TagGroups {
    border-bottom: 1px solid $color-divider;
    padding-bottom: 4*$base;

    &__Item {
        border-top: 1px solid $color-divider;
        padding-top: 4*$base;

        & + & {
            margin-top: 4*$base;
        }
    }
}

.TagGroup {
    display: flex;
    
    @media(min-width: $screen-sm-max + 1px) {
        align-items: center;
    }
    @media(max-width: $screen-sm-max) {
        flex-direction: column;
    } 

    &__Title {
        @include font-lg;
        width: 36*$base;
        align-self: start;
    }

    &__Content {
        @media(min-width: $screen-sm-max + 1px) {
            margin-left: 8*$base;
        }
        @media(max-width: $screen-sm-max) {
            margin-top: 2*$base;
        } 
        &Item {
            margin: 1px 2px 1px 0;
            // & + & {
            //     margin-left: 2*$base;
            // }
        }
    }
}

.Tag {
    border: 1px solid $color-divider;
    border-radius: 6px;
    background-color: $color-white;
    padding: 5px 10px;
    cursor: pointer;
    @include font-sm;
    font-family: 'Roboto';
    transition: $transition-duration;

    &_Active {
        background-color: $color-red;
        border-color: $color-black;
        color: $color-white;
    }

    &:hover {
        border-color: $color-black;
    }
}