@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Header {
    display: flex;
    margin-top: 8*$base;

    &__Item {
        flex-basis: 50%;
    }
    &__Item + &__Item {
        @media(max-width: $screen-xl-max) {
            margin-top: 8*$base;
        }
        @media(min-width: $screen-xl-max + 1px) {
            margin-left: 8*$base;
        }
    }

    &__Title {
        @include font-xl;
        font-weight: lighter;
        margin: 0;
    }

    &__Subtitle {
        @include font-lg;
        color: $color-red;
    }

    &__Description {
        @include font-md;
    }
    
    &__Link {
        color: $color-red;
        text-decoration: none;
        @include font-md;
    }
    &__Link + &__Link {
        margin-left: 4*$base;
    }
    
    @media(min-width: $screen-xl-max + 1px) {
        align-items: flex-end;
    }
    @media(max-width: $screen-xl-max) {
        flex-direction: column;
    }
}