@import './styles/variables.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto';
  color: $color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media(max-width: $screen-lg-max) {
  html {
    font-size: 15px;
  }
}
@media(max-width: $screen-md-max) {
  html {
    font-size: 13px;
  }
}
@media(max-width: $screen-sm-max) {
  html {
    font-size: 8px;
  }
}